{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<section>
    <div class="pagetitle">
        <h2>Experiences Pros {% if app.user %}<a href="{{path('experienceadd')}}"><i class="fas fa-plus-circle"></i></a>{% endif %}</h2>
        {% for experience in experience %}
    </div>
    <div class="block">
        <h2>{{experience.title}} {% if app.user %}<a href="{{path('experienceremove',{'id':experience.id})}}"><i class="far fa-times-circle"></i></a>{% endif %}</h2>
        <p>{{experience.description}}</p>
        <p>de {{experience.startDate}} à {{experience.endDate}}</p>
    </div>
    {% endfor %}
     
</section>
{% endblock %}