{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<section>
    <div class="pagetitle">
        <h2>Experiences Web</h2>
    </div>
    <div class="block">
        <h2>Selectionnez le projet que vous voulez voir.</h2>
        {% for projects in projects %}
        {% if projectSelected == projects.id %}
        <a class="expWebActif" href="{{path('experienceWeb',{'id':projects.id})}}">{{projects.name}}</a>
        {% else %}
        <a class="expWebButton" href="{{path('experienceWeb',{'id':projects.id})}}">{{projects.name}}</a>
        {% endif %}
        {% endfor %}
    {% if projectSelected == 1 %}
    <h3>Advert</h3>
    <video controls src="{{asset('video/experienceWeb/advert.mp4')}}" width="75%" height="50%">Video du projet Advert.</video>
    <h3>Description</h3>
    <p>Petit projet fait en fin de formation pour utiliser mes acquis. Site de recherche d'emploi. Vous devez avoir un compte utilisateur pour avoir accès a l'ajout d'annonce ou pour candidater. Les annonces sont modifiables et supprimables (utilisation de fixtures et de faker pour générer des données). Création d'une pagination ainsi que du Swift Mailer.</p>
    <h3>Technologies utilisées</h3>
    <img class="webSkill" src="{{asset('img/webSkill/php.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/symfony.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/html.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/css.svg')}}">
    <img class="webSkill" src="{{asset('img/webSkill/MySQL.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/doctrine.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/twig.png')}}"><br><br>
    <p>MVC, YAML, POO...</p>
    {% elseif projectSelected == 2 %}
    <h3>NBA Infos</h3>
    <video controls src="{{asset('video/experienceWeb/nbainfos.mp4')}}" width="75%" height="50%">Video du projet NBA Infos.</video>
    <a class="linkToProject" href="{{asset('nba-Infos/index.php')}}">CLICQUEZ ICI pour acceder au projet SITE NBA-INFOS</a>
    <h3>Description</h3>
    <p>Petit projet réalisé pour validé mon diplôme de développeur. L'objectif était de réaliser un site en utilisant les 5 langages HTML, CSS, JS, PHP, MYSQL. Operation reussie. C'est pour sa que je n'est pas utilisé mes dernières technos acquises.</p>
    <h3>Technologies utilisées</h3>
    <img class="webSkill" src="{{asset('img/webSkill/html.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/css.svg')}}">
    <img class="webSkill" src="{{asset('img/webSkill/js.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/jquery.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/php.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/MySQL.png')}}"><br><br>
    <p>MVC, CRUD...</p>
    {% elseif projectSelected == 3 %}
    <h3>Mini projet Stars Music</h3>
    <video controls src="{{asset('video/experienceWeb/test-StarsMusic.mp4')}}" width="75%" height="50%">Video d'un mini projet pour Stars Music.</video>
    <h3>Description</h3>
    <p>Mini projet réalisé pour la société Stars Music. Non utilisation de framework.</p>
    <h3>Technologies utilisées</h3>
    <img class="webSkill" src="{{asset('img/webSkill/html.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/css.svg')}}">
    <img class="webSkill" src="{{asset('img/webSkill/js.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/php.png')}}">
    <img class="webSkill" src="{{asset('img/webSkill/MySQL.png')}}"><br><br>
    <p>MVC, CRUD...</p>
    {% else %}
    <p>Aucun projet selectionné, clicquez sur un projet au dessus pour l'afficher en dessous.</p>
{% endif %}
    </div>
</section>
{% endblock %}
