{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<section>
    <div class="pagetitle">
        <h2>Ma presentation</h2>
    </div>
    <div class="leftColonne">
        <h2>Mes Informations {% if app.user %}<a href="{{path('infoedit',{'id':info.0.id})}}"><i class="far fa-edit"></i></a>{% endif %}</h2>
        <p>{{info.0.presentation}}</p>
        <img class="picture" src="{{asset(info.0.picture)}}">
        <p>Nom : {{info.0.firstName}}<br>
            Prenom : {{info.0.lastName}} <br>
            Age : {{age}}ans<br>
            Permis : {{info.0.permis}}<br>
            Localisation : {{info.0.city}}<br>
        </div>
    <div class="rightColonne">
        <h2>Mes Langues</h2>
            <div class="flagdiv">
            {% for lang in lang %}
                <img src="{{asset(lang.flag)}}"><br>
                <p>Niveau : {{lang.level}}</p>
            {% endfor %}
            </div>
    </div>
    <div class="leftColonne">
        <h2>Mes Loisirs {% if app.user %}<a href="{{path('hobbieadd')}}"><i class="fas fa-plus-circle"></i></a>{% endif %}</h2>
            <ul>
            {% for hobbies in hobbies %}
                <li>{{hobbies.name}} {% if app.user %}<a href="{{path('hobbieremove',{'id':hobbies.id})}}"><i class="far fa-times-circle"></i></a>{% endif %}</li>
            {% endfor %}
            </ul>
    </div>
    </section>
{% endblock %}
