{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<section>
    <div class="pagetitle">
        <h2>Compétences Web & Technique</h2>
    </div>
    <div class="leftColonne">
        <h3>Langages et Logiciels Maitrisés {% if app.user %}<a href="{{path('webskilladd')}}"><i class="fas fa-plus-circle"></i></a>{% endif %}</h3>
        <ul>
    {% for webSkill in webSkill %}
        <li><img class="webSkill" src="{{asset(webSkill.logo)}}"> {{webSkill.name}} <img class="rating" src="{{asset(webSkill.level)}}"> {% if app.user %} <a href="{{path('webskilledit',{'id':webSkill.id})}}"><i class="far fa-edit"></i></a> <a href="{{path('webskillremove',{'id':webSkill.id})}}"><i class="far fa-times-circle"></i></a>{% endif %}</li>
    {% endfor %}
        </ul>
     </div>

     <div class="rightColonne">
        <h3>Techniques Acquises {% if app.user %}<a href="{{path('technicalSkillAdd')}}"><i class="fas fa-plus-circle"></i></a>{% endif %}</h3>
        <ul>
    {% for technicalSkill in technicalSkill %}
        <li>{{technicalSkill.name}} {% if app.user %}<a href="{{path('technicalSkillRemove',{'id':technicalSkill.id})}}"><i class="far fa-times-circle"></i></a>{% endif %}</li> 
    {% endfor %}
        </ul>
     </div>
</section>
{% endblock %}