<h2>Demande de devis pour {{ quote.name }}</h2>
<table>
    <tr>
        <td>Nom du client</td>
        <td>{{ quote.name }}</td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td>{{ quote.phoneNumber }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ quote.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{{ quote.message }}</td>
    </tr>
</table>

