<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <meta name="description" content="Site réalisé par Adorais Kévin, développeur fullstack avec en technos principales PHP, Symfony, JS ...
        télécharger son CV de développeur. Accéder a son Github, Linkedin, ses compétences web ainsi qu'à son parcour proféssionnel.">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Sans+KR&family=Odibee+Sans&family=Trade+Winds&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('css/mediaqueries.css')}}">
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Adorais Kévin : Dev Fullstack PHP / Symfony</h1>
            <h2>Bienvenue sur mon profil</h2>
            <a href="{{asset('img/CV_KevinV2.pdf')}}" download="CV_KevinV2.pdf"><i class="fas fa-file-download"></i> Télécharger le CV en PDF <i class="fas fa-file-download"></i></a> 
            {% if app.user %}<a href="{{path('sec_logout')}}">Se Déconnecter</a>{% endif %}
        </header>
        <nav>
            <ul>
                {% if pageSelected == "home" %}
                <li><a class="activPage" href="{{path('home')}}"><i class="fas fa-home"></i><span class="hidden"> Accueil</span></a></li>
                {% else %}
                <li><a href="{{path('home')}}"><i class="fas fa-home"></i><span class="hidden"> Accueil</span></a></li>
                {% endif %}
                {% if pageSelected == "presentation" %}
                <li><a class="activPage" href="{{path('presentation')}}"><i class="far fa-id-card"></i><span class="hidden"> Présentation</span></a></li>
                {% else %}
                <li><a href="{{path('presentation')}}"><i class="far fa-id-card"></i><span class="hidden"> Présentation</span></a></li>
                {% endif %}
                {% if pageSelected == "proJourney" %}
                <li><a class="activPage" href="{{path('proJourney')}}"><i class="fas fa-briefcase"></i><span class="hidden"> Parcour Pro</span></a></li>
                {% else %}
                <li><a href="{{path('proJourney')}}"><i class="fas fa-briefcase"></i><span class="hidden"> Parcour Pro</span></a></li>
                {% endif %}
                {% if pageSelected == "webSkills" %}
                <li><a class="activPage" href="{{path('webSkills',{'id':0} )}}"><i class="fas fa-desktop"></i><span class="hidden"> Compétences Web</span></a></li>
                {% else %}
                <li><a href="{{path('webSkills',{'id':0} )}}"><i class="fas fa-desktop"></i><span class="hidden"> Compétences Web</span></a></li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer>
            
        </footer>
        {% block javascripts %}
        <script src="https://kit.fontawesome.com/0a8e0495cf.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
        <script type="text/javascript" src="{{ asset("js/grid.js") }}"></script>
        {% endblock %}
    </body>
</html>
